<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1> Question List 호출 성공 변경됨ㅁㅁㅁ </h1>
	
	<!-- 서버의 Model 객체에 전송된 값을 받아서 출력  -->
	
	<table>
		<thead>  
			<tr> 
				<th>번호</th>
				<th>제목</th>
				<th>작성일시</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each = "question : ${questionList}">
				<td th:text="${question.id}">번호</td>
				<td th:text="${question.subject}">제목</td>
				<td th:text="${question.createDate}">작성일시</td>
			</tr>	
		</tbody>	
	</table>
	
	

</body>
</html>